body {
  background-color: #60646d !important;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.my-container {
  margin: 2rem auto;
  max-width: 450px;
  width: 100%;
  min-height: 90%;
  padding: 1rem;
  background-color: #f3d89f;
  border: white solid 1px;
}

.send-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100%);
  padding: 15px;
}

/* .send-wrapper .title {
  text-align: center;
} */

#message-form > * {
  width: calc(100% - 10px);
  margin-bottom: 8px;
}

#message-form textarea {
  height: 120px;
}

#message-form button {
  font-weight: bold;
  height: 35px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.buttons-wrapper .square {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.buttons-wrapper .square img {
  height: 80%;
}

footer .stealth {
  opacity: 0.5;
}