body {
  background-color: #60646d !important;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.my-container {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  height: 90%;
  padding: 1rem;
}

.send-wrapper {
  display: flex;
  flex-direction: column;
  border: white solid 1px;
  height: calc(100%);
  width: calc(100%);
  background-color: #f3d89f;
  padding: 15px;
}

.send-wrapper .title {
  text-align: center;
}

#message-form > * {
  width: calc(100% - 10px);
  margin-bottom: 8px;
}

#message-form textarea {
  height: 120px;
}

#message-form button {
  font-weight: bold;
  height: 35px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
